@import "tailwindcss";

:root {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

@keyframes slide-down {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}




.animate-slide-down {
  animation: slide-down 0.6s ease-out forwards;
}

.animate-slide-up {
  animation: slide-up 0.6s ease-out forwards;
}

.delay-100 {
  animation-delay: 0.1s;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-300 {
  animation-delay: 0.3s;
}



/* Move disclaimer to Footer.jsx if intended (share Layout.jsx if needed).
Add video duration/upload date to backend response.
Implement download progress indicator.
Deploy to Vercel (frontend) and Render (backend). */
